<template>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="dob" class=" form-control-label">Date of Birth</label>
                    <div class="input-group">
                        <input type="date" id="do" v-model="date" name="dob" @input="onDateInputHandler" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="age-year" class=" form-control-label">Age</label>
                    <div class="input-group">
                        <input type="number" id="age-year" min="0" v-model="year" name="age-year" @input="onYearInputHandler" class="form-control">
                    </div>
                    <small class="form-text text-muted">Years</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group x-pt">
                    <label for="age-year" class=" form-control-label"></label>
                    <div class="input-group">
                        <input type="number" min="0" max="12" id="age-month" v-model="month" name="age-month" @input="onMonthInputHandler" class="form-control">
                    </div>
                    <small class="form-text text-muted">Months</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group x-pt">
                    <label for="age-year" class=" form-control-label"></label>
                    <div class="input-group"> 
                        <input type="number" min="0" id="age-day" v-model="day" name="age-day" @input="onDayInputHandler" class="form-control">
                    </div>
                    <small class="form-text text-muted">Days</small>
                </div>
            </div>            
        </div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            day: null,
            month: null,
            year: null,
            date: null
        }
    },
    mounted () {
        let date = moment().format("YYYY-MM-DD");
        this.date = date
        this.$forceUpdate()
        console.log(date)
    },
    methods: {
        onDateInputHandler() {
           [ this.year, this.month, this.day ] = this.calculateDate(moment(),moment(this.date)) 
        },
        onDayInputHandler(){
            this.setNewDate()
        },
        onMonthInputHandler(){
            this.setNewDate()
        },
        onYearInputHandler(){
            this.setNewDate()
        },
        setNewDate(){
            let date = moment().subtract( this.month,'months')
                             .subtract(this.year,'years')
                             .subtract(this.day,'days') 
            this.date = date.format("YYYY-MM-DD")
        },
        calculateDate(date1, date2){
            let years = date1.diff(date2, 'year');

            date2.add(years, 'years');
            let months = date1.diff(date2, 'months');

            date2.add(months, 'months');
            let days = date1.diff(date2, 'days');

            date2.add(days, 'days');
                    
            days = days>0?days:null
            months = months>0?months:null
            years = years>0?years:null

            return [years,months,days]
        }
    },
}
</script>
<style>
    .x-pt{
        padding-top: 11px;
    }
</style>