<template>
    <div class="col-md-12 row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="patient_type" class=" form-control-label">Type of Patient</label>
                <div class="input-group">
                    <select name="patient_type" v-model="selected_patient_type" @change="onPatientTypeChangeHandler" class="form-control">
                        <option value="null" disabled selected>Select Patient type</option>
                        <option v-for="patient_type of patient_types" :key="patient_type.id" :value="patient_type.name">{{patient_type.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- insurance  -->
        <div class="col-md-3" v-if="selected_patient_type=='Insurance'">
            <label for="">Insurance company</label>
            <div class="input-group">
                <select name="insurance_company" id="" class="form-control">
                    <option v-for="insurance_company of insurance_companies" :key="insurance_company.id" :value="insurance_company.id">{{insurance_company.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3" v-if="selected_patient_type=='Insurance'">
            <label for="">Identification No</label>
            <input type="text" class="form-control">
        </div>
        <!-- end insurance -->
        <!-- corporate  -->
        <div class="col-md-3" v-if="selected_patient_type=='Corporate'">
            <label for="">Corporate company</label>
            <div class="input-group">
                <select name="corporate_company" id="" class="form-control">
                    <option v-for="corporate_company of corporate_companies" :key="corporate_company.id" :value="corporate_company.id">{{corporate_company.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3" v-if="selected_patient_type=='Corporate'">
            <label for="">Identification No</label>
            <input type="text" class="form-control">
        </div>
        <!-- end corporate -->
    </div>
</template>
<script>
export default {
    props: {
        id: {
            type: [String,Number],
            default: 0
        },
    },
    data() {
        return {
            root_uri: this.$root.$data.root_uri,
            selected_patient_type: null,
            patient_types: [],
            insurance_companies: [],
            corporate_companies: []
        }
    },
    methods: {
        onPatientTypeChangeHandler() {
            if(this.selected_patient_type==3)
                this.$root.$data.costing[this.id].should_show=true
            else                
                this.$root.$data.costing[this.id].should_show=false
        }
    },
    mounted () {
        axios.get(`${this.root_uri}/patient-types`).then(res=>this.patient_types = res.data)
        axios.get(`${this.root_uri}/insurance-companies`).then(res=>this.insurance_companies = res.data)
        axios.get(`${this.root_uri}/corporate-companies`).then(res=>this.corporate_companies = res.data)
    },
}
</script>