<template> 
    <div class="container-fluid">
        <div class="row" v-if="should_show">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="service_cost" class=" form-control-label">Service cost:</label>
                    <div class="input-group">  
                        <input type="text" ref="service_cost" :value="service_cost"  name="service_cost" class="form-control service_cost" required readonly>
                    </div>
                </div>
            </div> 
            <div class="col-md-12">
                <div class="form-group">
                    <label for="amount_paid" class=" form-control-label">Amount Paid:</label>
                    <div class="input-group"> 
                        <input type="number" name="amount_paid" :min="minimum_price" v-model="amount_paid" @keyup="onAmountPaidKeyUpHandler" class="form-control amount_paid" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="amount_due" class=" form-control-label">Amount Due:</label>
                    <div class="input-group"> 
                        <input type="text" v-model="amount_due" name="amount_due" class="form-control amount_due" required readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group"> 
                    <div class="input-group"> 
                        <input type="hidden" v-model="change" name="change" class="form-control change" required readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="change_given" class=" form-control-label">Change given:</label>
                    <div class="input-group"> 
                        <input type="text" v-model="change_given" name="change_given" class="form-control change_given" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="change_remaining" class="form-control-label">Change remaining:</label>
                    <div class="input-group"> 
                        <input type="text" v-model="change_remaining" name="change_remaining" class="form-control change_remaining" required readonly>
                    </div>
                </div>
            </div>
        </div>    
        <div class="row" v-if="!should_show">
            <p>No Cash Payment</p>
            <input type="hidden" :value="service_cost"  name="service_cost" />
            <input type="hidden" :value="service_cost"  name="amount_paid"/> 
            <input type="hidden" :value="0"  name="amount_due"/>
            <input type="hidden" :value="0" name="change"/>
            <input type="hidden" :value="0" name="amount_due"/>
            <input type="hidden" :value="0" name="change_given"/>
            <input type="hidden" :value="0" name="change_remaining"/>
        </div>     
    </div>

</template>
<script>
export default {
    mounted () { 
    }, 
    data() {
        return {  
            amount_paid: null, 
            change_given: null,
            change: 0, 
        }
    },
    methods: {
        onAmountPaidKeyUpHandler(){
            this.calculateCosts()
        },
        onServiceCostChangeHandler(){
            this.calculateCosts()
        }, 
    },
    computed: {
        should_show(){
            return this.$root.$data.costing[this.id].should_show
        },
        service_cost() {
            return  parseInt(this.$root.$data.costing[this.id].service_price) + 
                    parseInt(this.$root.$data.costing[this.id].service_mode_price) +
                    parseInt(this.$root.$data.costing[this.id].tests_price) +
                    parseInt(this.$root.$data.costing[this.id].medicine_price) +
                    parseInt(this.$root.$data.costing[this.id].consultation_fee)
        },
        amount_due(){
            let amount_due = this.service_cost - this.amount_paid 
            return amount_due>0?amount_due:0;
        },
        change_remaining(){
            this.change = this.amount_paid - this.service_cost
            let change =  this.change - this.change_given
            return change>0?change:0;
        },
        full_price_required(){
            return this.$root.$data.costing[this.id].full_price_required
        },
        minimum_price(){
            return this.full_price_required ? this.service_cost : 0
        }
    },
    props: {
        id: {
            type: [Number,String],
            default: 0
        },
    },
}
</script>