<template>
    <div class="col-md-12 row"> 
        <div class="col-md-3">
            <div class="form-group">
                <label for="service_id" class=" form-control-label">Requested Service</label>
                <div class="input-group"> 
                    <select name="service" id="service_id1" v-model="selected_service" class="form-control" v-on:change="onServiceChangeHandler(selected_service)" required> 
                        <option value="null" disabled selected>Select Service</option>
                        <option v-for="service in services" :key="service.id" :value="service.id">{{service.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <ToSeeDoctor  v-if="selected_service==1"/>
        <input type="hidden" name="transaction_type" value="seeing doctor"  v-if="selected_service==1">
        <MedicineOnly v-if="selected_service==2"/> 
        <input type="hidden" name="transaction_type" value="getting medicine"  v-if="selected_service==2">
        <VitalsOnly v-if="selected_service==3"/> 
        <input type="hidden" name="transaction_type" value="getting vitals"  v-if="selected_service==3">
        <InvestigationOnly v-if="selected_service==4"/> 
        <input type="hidden" name="transaction_type" value="investigations"  v-if="selected_service==4">
        <Appointment v-if="selected_service==5"/> 
        <input type="hidden" name="transaction_type" value="appointment"  v-if="selected_service==5">
    </div>
</template>
<script>
import ToSeeDoctor from "./reception-service-details/ToSeeDoctor";
import MedicineOnly from "./reception-service-details/MedicineOnly";
import InvestigationOnly from "./reception-service-details/InvestigationOnly";
import VitalsOnly from "./reception-service-details/VitalsOnly";
import Appointment from "./reception-service-details/Appointment"; 

export default {
    data() {
        return {
            services: [], 
            root_api_url: this.$root.$data.root_uri,
            selected_service: null,
        }
    },
    mounted() { 
        axios.get(`${this.root_api_url}/services`).then(res=>{
            this.services=res.data 
        }); 
    },
    methods: {
        onServiceChangeHandler(service_id) {
            let service = this.services[this.services.findIndex(service=>service.id==service_id)]
            let service_price = service.price 
            this.$root.$data.costing[this.id].service_price = service.id!==5 ? service_price : 0
            this.$root.$data.costing[this.id].service_mode_price = 0
            this.$root.$data.costing[this.id].tests_price = 0
            this.$root.$data.costing[this.id].medicine_price = 0
            this.setFullPriceRequired(service_id)
        },
        setFullPriceRequired(service_id){
            switch (service_id) {
                case 1:
                    // To see a doctor 
                    this.$root.$data.costing[this.id].full_price_required = true
                    console.log(true)
                    break;
                case 2:
                    // To get medicine only 
                    this.$root.$data.costing[this.id].full_price_required = true 
                    break;
                case 3:
                    // For vital measurements only 
                    this.$root.$data.costing[this.id].full_price_required = true 
                    break;
                case 4:
                    // for InvestigationOnly 
                    this.$root.$data.costing[this.id].full_price_required = true 
                    break;
                case 5:
                    // Appointment 
                    this.$root.$data.costing[this.id].full_price_required = false 
                    break;  
                default:
                    break;
            }
        }
    },
    props: {
        id: {
            type: [Number,String],
            default: 0
        },
    },
    components: {
        ToSeeDoctor,
        MedicineOnly,
        InvestigationOnly,
        Appointment,
        VitalsOnly
    },
}
</script>