.mytable{
    background-color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 13px;
    width:100%;
}
.mytable td{
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid grey;
    border-bottom: 1px solid black;
    padding-top: 4px;
    padding-bottom: 4px;
}
.mytable th{
    background-color: black !important;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
}
.reporttable{
    background-color: white !important;
    font-family: 'Times New Roman', Times, serif !important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; */
    font-size: 13px;
    width:100%;
}
.reporttable td{
    padding-left: 10px;
    padding-right: 10px; 
    border: 1px solid black;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color:lightskyblue;
    color:black;
}
.reporttable th{
    background-color: skyblue !important;
    color:black;
    padding-left: 5px;
    padding-right: 5px;
    border:1px solid black;
}
.reporttable1{
    background-color: white !important;
    font-family: 'Times New Roman', Times, serif !important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; */
    font-size: 13px;
    width:100%;
}
.reporttable1 td{
    padding-left: 10px;
    padding-right: 10px; 
    border: 1px solid black;
    padding-top: 4px;
    padding-bottom: 4px;
    color:black;
}
.reporttable1 th{ 
    background-color: grey !important;
    border:1px solid black;
    color:black;
    padding-left: 5px;
    padding-right: 5px;
}
.price-column{
    width: 20px !important;
}
.report-form-header {
    width: 100%;
    padding: 20px;
}
.report-form-header p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px !important;
    color: black;
}
.report-form-subheader{
    padding: 0 53px 20px 53px;
    width: 100%;
}
.report-form-subheader span{
   
}

.gray-row td{
    background-color: #b7b7b7 !important;
}

.gray-row th{
    background-color: #b7b7b7 !important;
}
