<template> 
    <div class="col-md-12 row">    
        <div class="col-lg-12" id="medicine_container">       
                <div class="row">
                    <div class="col-md-2">
                        <label for="">Type</label>
                        <select name="medicine_type_id[]" id="" v-model="selected_medicine_type[0]" @change="onMedicineTypeChangeHandler(0)" class="form-control">
                            <option value="-1" disabled selected>Select--</option>
                            <option v-for="medicine_type in medicine_types[0]" :value="medicine_type.id" :key="medicine_type.key">{{medicine_type.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="">Medicine</label>
                        <select name="medicine_id[]" id="" v-model="selected_medicine[0]" @change="onMedicineChangeHandler(0)" class="form-control">
                            <option value="-1" disabled selected>Select--</option>
                            <option v-for="medicine in medicines[0]" :value="medicine.id" :key="medicine.key">{{medicine.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="">Dose</label>
                        <input type="text" name="dose[]" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="">Unit</label> 
                        <input type="hidden" name="medicine_unit[]" :value="medicine_unit_value[0]">
                        <Select2 :options="medicine_units" v-model="medicine_unit_value[0]" :settings="{tags:true}"/>
                    </div>
                    <div class="col-md-1">
                        <label for="">Per day</label>
                        <input type="text" name="medicine_per_day[]" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <label for="">Period</label>
                        <div class="row">
                            <input type="text" name="days[]" id="days1" placeholder="" class="form-control col-md-4 px-0">
                            <select name="medicine_period[]" id="" class="form-control col-md-8" style="padding:0px">
                                <option value="\7">\7</option>
                                <option value="\31">\31</option>
                                <option value="\12">\52</option>
                            </select>   
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label for="">Quantity</label>
                        <input name="medicine_quantity[]" :max="medicine_max_quantity[0]" type="number" v-model="medicine_quantity[0]" @change="onQuantityChangeHandler(0)"  @input="onQuantityChangeHandler(0)" class="form-control px-0">
                    </div>
                    <div class="col-md-1" style="padding-top:35px;">
                        <button type="button" class="btn btn-primary btn-sm" @click="onAddMedicineRowClickHandler">+</button>
                    </div>
                </div>  
                <div class="row" v-for="(medicine_row,index) in medicine_rows" :key="index">
                    <div class="col-md-2"> 
                        <select name="medicine_type_id[]" id="" v-model="selected_medicine_type[medicine_row]" @change="onMedicineTypeChangeHandler(medicine_row)" class="form-control">
                            <option value="-1" disabled selected>Select--</option>
                            <option v-for="medicine_type in medicine_types[medicine_row]" :value="medicine_type.id" :key="medicine_type.key">{{medicine_type.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3"> 
                        <select name="medicine_id[]" id="" v-model="selected_medicine[medicine_row]" @change="onMedicineChangeHandler(medicine_row)" class="form-control">
                            <option value="-1" disabled selected>Select--</option>
                            <option v-for="medicine in medicines[medicine_row]" :value="medicine.id" :key="medicine.key">{{medicine.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-1"> 
                        <input type="text" name="dose[]" class="form-control">
                    </div>
                    <div class="col-md-2"> 
                        <input type="hidden" name="medicine_unit[]" :value="medicine_unit_value[medicine_row]" :settings="{tags:true}">
                        <Select2 :options="medicine_units" v-model="medicine_unit_value[medicine_row]" :settings="{tags:true}"/>
                    </div>
                    <div class="col-md-1"> 
                        <input type="text"  name="medicine_per_day[]" class="form-control">
                    </div>
                    <div class="col-md-1"> 
                        <div class="row">
                            <input type="text" name="days[]" id="days1" placeholder="" class="form-control col-md-4 px-0">
                            <select name="medicine_period[]" id="" class="form-control col-md-8" style="padding:0px">
                                <option value="\7">\7</option>
                                <option value="\31">\31</option>
                                <option value="\12">\52</option>
                            </select>   
                        </div>
                    </div>
                    <div class="col-md-1"> 
                        <input type="number" name="medicine_quantity[]" :max="medicine_max_quantity[medicine_row]" v-model="medicine_quantity[medicine_row]" @change="onQuantityChangeHandler(medicine_row)"  @input="onQuantityChangeHandler(medicine_row)" class="form-control px-0">
                    </div>
                    <div class="col-md-1" style="padding-top:5px;" >
                        <button type="button" class="btn btn-danger btn-sm" @click="onRemoveMedicineRowClickHandler(medicine_row)">-</button>
                    </div>
                </div>  
        </div> 
    </div>
</template>
<script>
import Select2 from 'v-select2-component'

export default {
    data() {
        return {
            selected_medicine_type: [],
            selected_medicine: [],
            medicines: [],
            medicine_types:[], 
            root_uri: this.$parent.$data.root_api_url,
            medicine_rows: [],
            row_index: 1,
            medicine_units: [],
            medicine_unit_value: [],
            medicine_quantity: [],
            medicine_cost: [],
            total_medicine_cost: 0,
            medicine_max_quantity: [],
        }
    },
    mounted() {
        axios.get(`${this.root_uri}/medicine-types`).then(res=>{
            this.medicine_types.push(res.data)
            this.selected_medicine_type[0] = -1
            this.medicine_cost[0] = 0
        })
        axios.get(`${this.root_uri}/medicine-units`).then(res=>{
            this.medicine_units = res.data
        })
    },
    methods: {
        onMedicineTypeChangeHandler(medicine_row) {
            axios.get(`${this.root_uri}/medicines/${this.selected_medicine_type[medicine_row]}`).then(res=>{
                this.medicines[medicine_row] = res.data.filter(item=>item)
                this.$forceUpdate()
                this.selected_medicine[medicine_row] = -1

                // remove medicine cost of the previous row if any, from the total 
                this.total_medicine_cost -= this.medicine_cost[medicine_row]
                this.setRootMedicinePrice(this.total_medicine_cost)
                this.medicine_max_quantity[medicine_row] = 0
            })
        }, 
        onAddMedicineRowClickHandler() {
            let medicine_row = this.row_index++
            this.medicine_rows.push(medicine_row)
            axios.get(`${this.root_uri}/medicine-types`).then(res=>{
                this.medicine_types[medicine_row] = res.data.filter(item=>item)
                this.$forceUpdate()
                this.selected_medicine_type[medicine_row] = -1
 
                this.medicine_cost[medicine_row] = 0
                this.medicine_max_quantity[medicine_row] = 0
            })
        },
        onRemoveMedicineRowClickHandler(row_index){
            try {

                this.total_medicine_cost -= this.medicine_cost[row_index]
                this.setRootMedicinePrice(this.total_medicine_cost)

                let index = this.medicine_rows.findIndex(item=>item===row_index)
                this.medicine_rows.splice(index,1)                    
            } catch (e) {
                console.warn(e)
            }
        },
        onQuantityChangeHandler(row_index){
            try {
                let selected_medicine = this.selected_medicine[row_index]
                let medicine_index = this.medicines[row_index].findIndex(medicine=>medicine.id===selected_medicine)
                let medicine = this.medicines[row_index][medicine_index]
                let price = medicine.selling_price
                let quantity = this.medicine_quantity[row_index]
                let cost = price * quantity

                this.total_medicine_cost -= this.medicine_cost[row_index]   
                this.total_medicine_cost += parseInt(cost)

                this.medicine_cost[row_index] = cost 
                this.setRootMedicinePrice(this.total_medicine_cost)

                this.$forceUpdate() 
            } catch (e) {
                console.warn(e)
            } 
        },
        onMedicineChangeHandler(row_index){
            try {
                let selected_medicine = this.selected_medicine[row_index]
                let medicine_index = this.medicines[row_index].findIndex(medicine=>medicine.id===selected_medicine)
                let medicine = this.medicines[row_index][medicine_index]
                let remaining_quantity = medicine.remaining_quantity  

                this.medicine_max_quantity[row_index] = remaining_quantity 
                this.$forceUpdate()
            } catch (e) {
                console.warn(e)
            } 
        },
        setRootMedicinePrice(total){ 
            this.$parent.$root.$data.costing[this.$parent.id].medicine_price = parseInt(total)
        }
    },
    destroyed () {
    },
    components: {
        Select2,
    },
}
</script>