<template>
       <div class="col-md-12 row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="que_no" class=" form-control-label">Queue No.</label>
                    <div class="input-group">
                        <input type="text" v-model="que_number" name="que_no" id="que_no" class="form-control que_no" required
                            disabled>
                        <!-- <input type="text" value="{{$pqn}}" name="que_no" id="que_no" class="form-control que_no" required
                            disabled> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3"> 
                <div class="form-group">
                    <label for="service_mode_id" class=" form-control-label">Service Mode</label>
                    <div class="input-group"> 
                        <select name="service_mode" id="service_mode_id1" @change="onServiceModeChangeHandler" v-model="selected_service_mode" class="form-control"
                            required>
                            <option :value="null" disabled selected>Select mode</option>
                            <option v-for="service_mode in service_modes" :key="service_mode.id" :value="service_mode.id">{{service_mode.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <input type="hidden" name="transaction_type" value="reception">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="doc_id" class=" form-control-label">Assign Doctor</label>
                    <div class="input-group"> 
                        <select name="doctor" id="doc_id" class="form-control" required>
                            <option v-for="doctor in doctors" :key="doctor.id" :value="doctor.id">{{doctor.name}}</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="room_id" class=" form-control-label">Room No.</label>
                    <div class="input-group"> 
                        <select name="room_no" id="room_no" class="form-control" required>
                            <option value="Room 1">Room 1</option>
                            <option value="Room 2">Room 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="unit_id" class=" form-control-label">Unit </label>
                    <div class="input-group"> 
                        <select name="unit_allocation" id="unit_id" class="form-control" required>
                            <option value="Unit 1">Unit 1</option>
                            <option value="Unit 2">Unit 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="weight" class=" form-control-label">Weight</label>
                    <div class="input-group">
                        <input type="text" name="weight" id="weight" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="blood_pressure" class=" form-control-label">Blood Pressure</label>
                    <div class="input-group">
                        <input type="text" name="blood_presure" id="blood_pressure" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="temprature" class=" form-control-label">Temperature</label>
                    <div class="input-group">
                        <input type="text" name="temperature" id="temperature" class="form-control">
                    </div>
                </div>
            </div> 
            <!-- <div class="col-md-3">
                <div class="form-group">
                    <label for="height" class=" form-control-label">Height</label>
                    <div class="input-group">
                        <input type="text" name="height" id="height" class="form-control">
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-3">
                <div class="form-group">
                    <label for="pulse-rate" class=" form-control-label">Pulse Rate</label>
                    <div class="input-group">
                        <input type="text" name="pulse_rate" id="pulse_rate" class="form-control">
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-3">
                <div class="form-group">
                    <label for="respiratory_rate" class=" form-control-label">Respiratory Rate</label>
                    <div class="input-group">
                        <input type="text" name="respiratory_rate" id="respiratory_rate" class="form-control">
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-3">
                <div class="form-group">
                    <label for="other" class=" form-control-label">Other</label>
                    <div class="input-group">
                        <input type="text" name="other" id="other" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nurse" class=" form-control-label">Name of Nurse</label>
                    <div class="input-group">
                        <input type="text" name="nurse" id="nurse" class="form-control">
                    </div>
                </div>
            </div>             -->
        </div>
</template>
<script>
export default {
    data() {
        return {
            services: [],
            service_modes: [],
            root_api_url: "/reception-service-details",
            selected_service: null,
            selected_service_mode: null,
            que_number: 0,
            doctors: []
        }
    },
    mounted() {
        axios.get(`${this.root_api_url}/services`).then(res=>this.services=res.data);
        axios.get(`${this.root_api_url}/service-modes`).then(res=>{
            this.service_modes=res.data
            this.selected_service=res.data[0].id
        });
        axios.get(`${this.root_api_url}/que-no`).then(res => this.que_number = res.data)
        axios.get(`${this.root_api_url}/doctors`).then(res => this.doctors = res.data)
    },
    methods: {
        onServiceModeChangeHandler() {
            let price = this.service_modes[this.service_modes.findIndex(service_mode=>service_mode.id==this.selected_service_mode)].price
            this.$parent.$root.$data.costing[this.$parent.id].service_mode_price = price
        }
    },
}
</script>