<template>
    <div class="col-md-12 row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="weight" class=" form-control-label">Weight</label>
                <div class="input-group">
                    <input type="text" name="weight" id="weight" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="blood_pressure" class=" form-control-label">Blood Pressure</label>
                <div class="input-group">
                    <input type="text" name="blood_presure" id="blood_pressure" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="temprature" class=" form-control-label">Temperature</label>
                <div class="input-group">
                    <input type="text" name="temperature" id="temperature" class="form-control">
                </div>
            </div>
        </div> 
        <div class="col-md-3">
            <div class="form-group">
                <label for="blood_group" class=" form-control-label">Blood Group</label>
                <div class="input-group"> 
                    <input type="text" id="blood_group" name="blood_group" class="form-control">
                </div>
            </div>
        </div>  
        <div class="col-md-3">
            <div class="form-group">
                <label for="height" class=" form-control-label">Height</label>
                <div class="input-group">
                    <input type="text" name="height" id="height" class="form-control" >
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="pulse-rate" class=" form-control-label">Pulse Rate</label>
                <div class="input-group">
                    <input type="text" name="pulse_rate" id="pulse_rate" class="form-control" >
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="respiratory_rate" class=" form-control-label">Respiratory Rate</label>
                <div class="input-group">
                    <input type="text" name="respiratory_rate" id="respiratory_rate" class="form-control" >
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="other" class=" form-control-label">Other</label>
                <div class="input-group">
                    <input type="text" name="other" id="other" class="form-control">
                </div>
            </div>
        </div> 
    </div>
</template>
<script>
    export default {

    }
</script>